
  h1{
      font-style: italic;
      color: blue;
      font-family: comic sans Ms body copy;
  }
  .jumbotron{
      background-color: cadetblue;
  }
  .scroll{
      color: skyblue;
      font-size: 25px;
      font-style: bold;
  }
