#questions{
    display: show;
    background-color:none;
  
  }
  #result{
    display: show;
  }
  h1{
      font-style: italic;
      color: blue;
  }
  .jumbotron{
      background-color: cadetblue;
  }
  .scroll{
      color: blue;
      font-size: 40px;
      font-style: bold;
  }